.container {
    text-align: center;
}

.rotateText {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    /* display: block; */
    /* writing-mode: vertical-rl;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

/* .active {
    border: 1px solid black;
} */

.disabled {
    border: 2px solid green;
}

td.disabled input {
    font-weight: bold;
    color: black;
}

.mathSymbol {
    font-weight: bold;
    font-size: 25px;
}

.hideMe{
    visibility: hidden;
}

input,
td {
    text-align: center;
}


/* .active {
    border-bottom: 1px solid green;
} */